<ion-view view-title="{{ title | translate }}" class="appBackground">
    <ion-content>
        <div class="list card opaque">
            <div class="item item-avatar item-text-wrap">
                <img ng-show="item.image" ng-src="{{ item.image }}">
                <h2>{{ item.title }}</h2>
                <h3 class="positive" ng-show="item.detail_1">{{ item.detail_1 }}</h3>
                <h3 class="positive" ng-show="item.detail_2">{{ item.detail_2 }}</h3>
                <h4 class="positive" ng-show="item.date">{{ item.date | date : format : short }}</h4>
                <i class="icon ion-link" ng-show="item.url">
                    <a class="nodecor" href="{{ item.url }}">
                        {{ item.url }}
                    </a>
                </i>
            </div>
            <div class="row item item-divider" ng-show="item.resources.length">
                <div class="row">
                    <div class="col-33" ng-repeat="resource in item.resources | limitTo:3">
                        <a class="nodecor" href="{{resource.url}}">
                            <img class="col-50 col-offset-25" ng-src="{{resource.src}}">
                        </a>
                    </div>
                </div>
            </div>
            <div class="item item-text-wrap" ng-show="item.desc">
                <p>{{ item.desc }}</p>
            </div>
        </div>
    </ion-content>
</ion-view>