<div ng-show="screenParams.screenTitle" class="text-center">
    <h3 class="digitel-title wrap"> {{screenParams.screenTitle}} </h3>
</div>
<div class="terms-push-content" scroll="false">
	<div class="digitel-logo"></div>
	<div class="terms-dark-background">
		<ion-scroll direction="y" class="myScroll text-center">
			<h2 ng-show="screenParams.screenSubtitle" class="digitel-subtitle wrap">{{screenParams.screenSubtitle}}</h2>
			<p class="terms-digitel-text" ng-repeat="item in bindTo"> {{item.desc}} </p>
		</ion-scroll>
	</div>
	<label class="row button item item-input digitel-input back-button-background"
                   data-ng-click="params.goBack()">
    <div class="col col-80 text-right">
       <p class="wrap login-button-text"> {{'go_back' | translate}} </p>
    </div>  
    </label>
</div>