<div ng-show="bindTo.screenTitle" class="text-center">
    <h3> {{bindTo.screenTitle}} </h3>
</div>
<div class="push-content">
	<div class="logo-background"></div>
	<div class="dark-background-top"></div>
	<div class="dark-background-middle">
		<ion-scroll direction="y" class="scroll-size text-center">
			<h3 ng-show="bindTo.screenSubtitle">{{bindTo.screenSubtitle}}</h3>
			<p ng-repeat="item in bindTo.items" ng-show="bindTo.items"> {{item.desc}}</p>
			<h4 ng-show="bindTo.message"> {{bindTo.message}} </h4>
		</ion-scroll>
	</div>
	<div class="dark-background-bottom"></div>
	<label class="row item app-input back-button-background"
                   data-ng-click="params.goBack()">
	    <div class="col col-80 text-right">
	       <p class="wrap"> {{'go_back' | translate}} </p>
	    </div>
    </label>
</div>